.wrapper-marquee {
  /* min-height: 50dvh; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  @media screen and (width >= 55rem) {
    display: none;
  }
}

.marquee {
  display: flex;
  gap: 3rem;
  overflow-x: hidden;
  justify-content:center;
  /* border: solid 2px red; */
  flex-flow: row wrap;
}

.marquue-A {
}

.marquee-B {

}

.marquee-img {
  transform: scale(.8);
  width: min-content;
  object-fit: contain;
  aspect-ratio: 1;
}
