.wrapper-marquee {
  /* min-height: 50dvh; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  @media screen and (width >= 55rem) {
    display: none;
  }
}

.marquee {
  background-color: brown;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  gap: 5rem;
}

.marquee-icons {
  flex: 1 0 100%;
  animation: marquee 20s linear infinite;
  margin-block: 1rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 5rem;
}


.marquee-img {
  transform: scale(.8);
  width: min-content;
  object-fit: contain;
  aspect-ratio: 1;
}

.marquee-sub {
  display: flex;
}

@keyframes marquee {
  to {
    transform: translateX(-100%);
  }
}
