.categoryCard-subWrapper {
  display: flex;
  justify-content:center;
  gap: 1rem;
  flex-flow: row wrap;
  align-items: center;
}

.categoryCard-img {
  width: 12rem;
  height: 12rem;
  box-shadow: rgba(250, 250, 250, 0.2) 0px 7px 29px 0px;
}

.categoryCard-img > img {
  object-fit: cover;
  height: 100%;
}

.categoryCard-icons {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.categoryCard-title {
  transform: translateY(-.5rem);
  text-transform: uppercase;
}
