---
import './IconBar.css'
---

<div class="icon-list icons">
  <i class="icons-img nes-logo"></i>
  <i class="icons-img nes-jp-logo"></i>
  <i class="icons-img snes-logo"></i>
  <i class="icons-img snes-jp-logo"></i>
</div>
