---
import './FooterPost.css'
//  components
import StarRating from '@sharedComponents/StarRating.astro'

interface Props {
  date: string,
  author: string
}

const { author, date } = Astro.props
---

<footer class="post-footer">
  <div>
    <p class="data-time">
      Publicado: 
      <time datetime={date.slice(0,10)}>{date.slice(0,10)}</time>
    </p>
    <p class="">
      Autor: {author}
    </p>
  </div>

  <StarRating />
</footer>
