---
import './Noria.css'
import { Image } from 'astro:assets'
import { listSvg } from '@data/data.ts'
---

<div class="container__noria">
  <section class="noria">
    <div class="noria__ejeCentral">
    </div>
  
    <ul class="noria__containerBoxes">
      {
        listSvg.map(svg => 
          <li class="noria__box">
            <div class="noria__boxElements">
              <Image
                class="noria__img"
                src={svg.image} 
                alt={`logo ${svg.alt}`}
                width=100
                height=100
              />
            </div>
          </li>
        )
      }
    </ul>
  </section>
</div>
