.headerPage {
  z-index: 10;
  height: 4rem;
}

.nav {
  position: relative;
}

.nav-list {
  position: absolute;
  transform: translateY(120%);
  display: none;
  flex-flow: column wrap;
  inset: auto auto 0 auto;
  gap: 1rem;
  text-transform:  uppercase;
  background-color: gray;
  padding: 1rem 1.4rem 1rem 1rem;
  border-radius: .5rem;

  @media screen and (width > 45rem) {
    position: static;
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    transform: initial;
    padding: initial;
    background-color: initial;
    & a {
      width: initial;
    }
  }
}

.expanded {
  display: flex;
  & a {
    width: 100%;
  }
}

