---
import "./Navigation.css"
import HamburgerBtn from "@sharedComponents/HamburgerBtn.astro"
---

<header transition:animate="none">
  <HamburgerBtn />
  <nav class="nav" id="navbar">
    <ul class="nav-link">
      <li>
        <a
          class="nes-btn is-warning" 
          href="/">
          Inicio
        </a>
      </li>
      <li>
        <a 
          class="nes-btn is-warning"
          href="/blog/">
          Blog
        </a>
      </li>
      <li>
        <a 
          class="nes-btn is-warning" 
          href="/category/">
          Categorias
        </a>
      </li>
      <li>
        <a 
          class="nes-btn is-warning" 
          href="/about/">
          Sobre mi
        </a>
      </li>
    </ul>
  </nav>
</header>
