.wrapper {
  --gradient-color-1: rgba(0, 0, 0, 0.5);
  --gradient-color-2: rgba(0, 0, 0, 0.1);
  --heightBanner: calc(100dvh - 6rem);
  position: relative;
  background: conic-gradient(from 135deg, #2c2a4b, #100f22);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: var(--heightBanner, calc(100dvh - 96px));
  border-radius: 0.5rem;

  @media screen and (width <= 55rem) {
    grid-template-columns: 1fr;
  }
}

.wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.5rem;
  background: linear-gradient(
    90deg,
    var(--gradient-color-1) 0%,
    var(--gradient-color-2, transparent) 20%,
    var(--gradient-color-2, transparent) 80%,
    var(--gradient-color-1) 100%
  );
}

.sub-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: center;
  padding-left: 1rem;
}

.description {
  position: relative;
  max-width: 40rem;
  line-height: 2;
  text-wrap: balance;
  font-size: clamp(1.2rem, 2vw, 1.8rem);
}

.description-strong {
  line-height: 2;
  display: inline-block;
  margin-block: 1.5rem;
  padding-block: 1rem;
  letter-spacing: 0.4rem;
  font-size: clamp(1.2rem, 2vw, 1.8rem);
}

.description-letter {
  --delay: 0ms;
  animation:
    toBlink 5s ease-in-out infinite var(--delay),
    flickerText 0.5s linear infinite;

    &:nth-child(1) {
      --delay: 113ms;
    }
    &:nth-child(2) {
      --delay: 139ms;
    }
    &:nth-child(3) {
      --delay: 279ms;
    }
    &:nth-child(4) {
      animation-play-state: paused;
    }
    &:nth-child(5) {
      --delay: 335ms;
    }
    &:nth-child(6) {
      --delay: 317ms;
    }
    &:nth-child(7) {
      --delay: 84ms;
    }
    &:nth-child(8) {
      --delay: 143ms;
    }
    &:nth-child(9) {
      animation-play-state: paused;
    }
    &:nth-child(10) {
      --delay: 281ms;
    }
    &:nth-child(11) {
      --delay: 385ms;
    }
    &:nth-child(12) {
      --delay: 211ms;
    }
    &:nth-child(13) {
      --delay: 122ms;
    }
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 0;
}
