---
import "./PageIntroduction.css";
import { getImage } from "astro:assets";
import bgImage from "../../assets/food-banner.webp";
import bgImage2 from "../../assets/banner2.webp";

const bannerImages = [bgImage, bgImage2];
const ramdonBanner = (): number => Math.ceil(Math.random() * bannerImages.length);

const bgOptimized = await getImage({
  src: bannerImages[ramdonBanner()],
  format: "webp",
});
const text = "Perfect Pixel";
---

<div
  id="banner"
  class="wrapper"
  style={`background-image: url(${bgOptimized.src});`}
>
  <div class="sub-wrapper">
    <p class="description">
      Blogs, curiosidades, historia y mas sobre la cultura retro.
    </p>
    <strong class="description-strong">
      {text.split("").map((t) => <span class="description-letter">{t}</span>)}
    </strong>
  </div>
</div>
