---
import { Picture } from "astro:assets";
import "./HeaderPost.css";

interface Props {
  color: string;
  title: string;
  description: string;
  image: string;
  alt: string;
}

const { alt, color, description, image, title } = Astro.props;
---

<header>
  <h1 class="h1-styles" style={{ color: color }}>
    {title}
  </h1>

  <div class="subContainer">
    <p>
      {description}
    </p>

    <div class="img-wrapper">
      <Picture
        class="shadow-image"
        src={image}
        formats={["avif", "webp"]}
        widths={[240, 540, 720]}
        sizes={`
          (max-width: 360px) 240px, 
          (max-width: 720px) 540px, 
          (max-width: 1600px) 720px
        `}
        alt={alt}
        width="600"
        height="600"
      />
    </div>
  </div>
</header>

<style>
  .shadow-image {
    box-shadow: blue 0px 0px 0px 2px ;
    object-fit: cover;
  }

  .shadow-image:hover {
    transition: box-shadow linear .2s;
    --bg-complementary: transparent;
    box-shadow: 
      blue 0px 0px 0px 2px , 
      var(--bg-complementary) -10px 10px 0px 2px,
      rgb(31, 193, 27) -10px 10px, 
      var(--bg-complementary) -20px 20px 0px 2px, 
      rgb(255, 217, 19) -20px 20px, 
      var(--bg-complementary) -30px 30px 0px 2px, 
      rgb(255, 156, 85) -30px 30px, 
      var(--bg-complementary) -40px 40px 0px 2px, 
      rgb(255, 85, 85) -40px 40px;
      box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px, rgba(255, 255, 255, 0.23) 0px 3px 6px;
  }
</style>
