---
//  styles
import "../styles/reset.css";
import "nes.css/css/nes.min.css";
import '@fontsource/press-start-2p';

//  components
import Navigation from "@components/Navigation/Navigation.astro";
import Footer from "@components/Footer/Footer.astro";
import BtnScrollTop from "@sharedComponents/BtnScrollTop.astro";

//  utilities
import { ViewTransitions } from "astro:transitions";
const { pageTitle } = Astro.props;
---

<html lang="es" transition:animate={"slide"}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Revive la nostalgia en nuestro blog retro: moda vintage, tecnología clásica y la magia de épocas pasadas. Explora con nosotros el encanto del pasado.">
    <link rel="preconnect" href="https://www.dropbox.com">
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body style={{position: 'relative'}}>
    <Navigation />

    <main class="main-container">
      <slot />
    </main>

    <BtnScrollTop />

    <Footer />
    
  </body>
</html>

<style is:global>
  body {
    font-family: 'Press Start 2P', sans-serif;
    position: relative;
    padding: 1rem;
    display: grid;
    grid:
      "header" auto
      "main" 1fr 
      "footer" auto;
    gap: 1rem;
    background-color: #100f22;
    color: white;
    max-width: 87.5rem;
    margin-inline: auto;
  }

  header {
    grid-area:  "header";
  }

  main {
    grid-area:  "main";
    min-height: 100dvh;
    display: flex;
    flex-flow: wrap column;
    gap: 2rem;
  }

  footer {
    grid-area:  "footer";
  }

  h1 {
    font-weight: 700;
    font-size: clamp(1.2rem, 3vw ,2.5rem);
  }
</style>
