---
import "../../public/styles/reset.css"
import "nes.css/css/nes.min.css";
import { ViewTransitions } from "astro:transitions"
import Navigation from "../components/Navigation/Navigation.astro";
import Footer from "../components/Footer/Footer.astro"
import BtnScrollTop from '../components/BtnScrollTop/BtnScrollTop.astro'

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
		<Navigation />

    <main style={{minHeight: '100dvh'}}>
      <slot />
		</main>

    <BtnScrollTop transition:persist/>
		<Footer />
    <link rel="stylesheet" href="/public/styles/global.css" />
    <script src="../scripts/hamburgerBtn.ts"></script>
    <script  src="../scripts/btnScrollTop.ts"></script>
  </body>
</html>
