---
//  styles
import "../../public/styles/reset.css";
import "nes.css/css/nes.min.css";
import "../../public/styles/global.css";

//  components
import Navigation from "@components/Navigation/Navigation.astro";
import Footer from "@components/Footer/Footer.astro";
import BtnScrollTop from "@sharedComponents/BtnScrollTop.astro";

//  utilities
import { ViewTransitions } from "astro:transitions";
const { pageTitle } = Astro.props;
---

<html lang="es" transition:animate={"slide"}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Revive la nostalgia en nuestro blog retro: moda vintage, tecnología clásica y la magia de épocas pasadas. Explora con nosotros el encanto del pasado.">
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body style={{position: 'relative'}}>
    <Navigation />

    <main class="main-container">
      <slot />
    </main>

    <BtnScrollTop />

    <Footer />
    
  </body>
</html>

<style>
  .main-container {
    min-height: 100dvh;
    display: flex;
    flex-flow: wrap column;
    gap: 2rem;
  }
</style>
