---
import './RetroWelcome.css'
---

<section class="intro">
  <h1 class="intro-title">
    <span>
      Perfect pixel
    </span>
  </h1>
  <p class="intro-description">
    <span>
      El rincón donde los juegos antiguos cobran vida. Exploramos la nostalgia de los clásicos, compartimos recuerdos pixelados y celebramos la esencia atemporal de los videojuegos retro entre otros.
    </span>
  </p>
</section>
