---
import './CommentaryBox.css'
---

<div class="nes-container is-dark">
  <div class="message-list">

      <section class="message -left commentBox">
        <i class="nes-bcrikko"></i>
        <!-- Balloon -->
        <div class="nes-container is-rounded is-dark with-title">
          <p class="title commentBox-user">
            XamPeru33
          </p>
          <p class="commentBox-text">
            Este es un comentario de prueba.
          </p>
        </div>
      </section>

    </div>
  </div>
</section>
