.message-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.commentBox {
  display: flex;
  gap: 1rem;
}

.commentBox-text {
  font-size: .9rem;
  font-weight: 100;
}

.commentBox-user {
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: .1rem;
  color: #F7D51D !important;
}

.formComment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formComment-text {
  width: 100%;
  min-height: 5rem;
  resize: none;
}

.formComment-text:focus {
  border: none;
  outline: none;
}

.nes-bcrikko {
  transform: scale(.7);
}
